/* Portfolio */

:root {
  --main-title-color: #2e2f42;
  --secondary-text-color: #434455;
  --button-section-color: #4d5ae5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header-main-box {
  display: flex;
  align-items: center;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* ---------------  Header */

.header {
  border: 1px solid #e7e9fc;
  padding: 24px 0;
}

.header-navigation {
  display: flex;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  text-transform: uppercase;
  margin-right: 76px;
}

.header-list {
  display: flex;
  margin-left: 0 auto;
}

.header-contacts {
  margin-left: auto;
}

.header-contacts-flex {
  display: flex;
}

.logo-color {
  color: #4d5ae5;
}

.header-list-item1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-right: 40px;
}

.header-list-item1:hover,
.header-list-item1:focus {
  color: #404bbf;
}

.header-list-item2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin-right: 40px;
}

.header-list-item2:hover,
.header-list-item2:focus {
  color: #404bbf;
}

.header-list-item3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-list-item3:hover,
.header-list-item3:focus {
  color: #404bbf;
}

.header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-mail:hover,
.header-mail:focus {
  color: #404bbf;
}

.header-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-list1 {
  margin-right: 40px;
}

.header-tel:hover,
.header-tel:focus {
  color: #404bbf;
}

/* /Header */

/* ---------------Button sections */

.button-section-main {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
}

.button-sections list {
  display: flex;
  gap: 24px;
  flex-direction: row;
  align-items: flex-start;
}

.button-item1 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-section-color);
  background: #f4f4fd;
  cursor: pointer;
  margin-right: 24px;
  width: 69px;
  height: 48px;
  /* box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12); */
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
}

.button-item1:hover,
.button-item1:focus {
  color: #ffffff;
  background: #404bbf;
}

.button-item2 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-section-color);
  background: #f4f4fd;
  cursor: pointer;
  margin-right: 24px;
  height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
}

.button-item2:hover,
.button-item2:focus {
  color: #ffffff;
  background: #404bbf;
}

.button-item3 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-section-color);
  background: #f4f4fd;
  cursor: pointer;
  margin-right: 24px;
  width: 78px;
  height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button-item3:hover,
.button-item3:focus {
  color: #ffffff;
  background: #404bbf;
}

.button-item4 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-section-color);
  background: #f4f4fd;
  cursor: pointer;
  margin-right: 24px;
  width: 101px;
  height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button-item4:hover,
.button-item4:focus {
  color: #ffffff;
  background: #404bbf;
}

.button-item5 {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-section-color);
  background: #f4f4fd;
  cursor: pointer;
  width: 126px;
  height: 48px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.button-item5:hover,
.button-item5:focus {
  color: #ffffff;
  background: #404bbf;
}

/* /Button sections */

/* ---------Portfolio Foto Section common */

.foto-section-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin: 32px 0 8px 0;
  padding-left: 16px;
}

.foto-section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin: 0;
  padding-left: 16px;
  padding-bottom: 32px;
}

.foto-border {
  border: 1px solid #e7e9fc;
  background: #ffffff;
}
/* /Portfolio Foto Section common */

/* Foto section 1 */

.foto-section-1 {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 0 48px 0;
}

.foto-section-2 {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 0 48px 0;
}

.foto-section-3 {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0 0 120px 0;
}

/* ---------------Web Studio */

.main {
  background: #ffffff;
}

.link-deco {
  text-decoration: none;
}

/*---------------- Hero Section */

.hero-background {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 48px;
  width: 496px;
  font-style: normal;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}

.hero-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* .button-type {
  padding: 0;
  margin: 0 auto;
} */

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}

.hero-main-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* /Hero Section */

/* ----------------Section 1 */

.main-section1-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin: 0;
}

.main-section1-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  width: 264px;
  margin: 0;
  padding-top: 8px;
}

/* /Section 1 */

.section-1 {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-evenly;
  gap: 24px;
  margin-top: 120px;
  margin-left: 0;
}

/*---------------- Section 2 */
.main-section2-h2 {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin: 0;
  display: flex;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 72px;
}

.section-2 {
  display: flex;
  justify-content: center;
  gap: 24px;
}
/* /Section 2 */

/* -----------------Section 3*/

.section3-main-box {
  display: flex;
  width: auto;
  height: 732px;
  align-items: flex-start;
}

.section3-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: 0;
  /* height: 380px; */
}

.main-section3-h2 {
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  margin: 0;
  /* height: 40px; */
  display: flex;
  justify-content: center;
  padding-top: 120px;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.our-team-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 8px;
}

.our-team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 32px;
}

.team-section {
  background: #f4f4fd;
  margin-top: 120px;
  padding-bottom: 120px;
}

.team-list-1 {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* /Section 3*/

/* -------------------Footer */

.footer-main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 1440px;
  height: 310px;
}

.background-footer {
  background: #2e2f42;
}

.footer-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  color: #f4f4fd;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-left: 156px;
  padding-top: 100px;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #e7e9fc;
  letter-spacing: 0.02em;
  width: 264px;
  margin-left: 156px;
  margin-bottom: 100px;
}
/* /Footer */
